@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Josefin+Sans:600');


:root {
	--main-color: #643A7A;
	--secondary-color: #741CAF;
	--sans: "josefin sans", sans serif;
}

body {
	background: #201C29;
}

.character {
	font-family: var(--sans);
  position: absolute;
  margin: 0;
  top: 15px;
  right: 15px;
  color: fade-out(#fff, .3);
}

.quote {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
}



.btn {
  background: #802BBC;
  text-align: center;
  color: #fff;
	padding: 1rem 0;
	width: 100%;
	font-family: var(--sans);
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	transition: .2s ease-out;
}


