body {
    background-image: url("jojopurplebackground.jpg");
}

#titre {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-family: verdana;
    text-align: center;
    -webkit-text-stroke: 2px;
-webkit-text-stroke-color: white;
}

#Character {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-family: verdana;
    text-align: center;
    -webkit-text-stroke: 2px;
-webkit-text-stroke-color: white;
}

#meme-gif {
    width: 600px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px #23282d solid; 
    text-align: center;
    border: black;
    border-radius: 5px;
}

#quote {
    width: 500px;
    font-size: large;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: verdana;
    color: black;
    -webkit-text-stroke: 1px;
-webkit-text-stroke-color: white;
}

#btn {
    width: 600px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px #23282d solid; 
    text-align: center;
    border: black;
    border-radius: 5px;
}

#mentionsjojo {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-family: verdana;
    color:black;
    font-size: large;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: white,10px,10px;
    background-color: black;
    border-radius: 10px;
    text-align: center;
}

